<!--
** @Archivo:        ganar.html
** @Equipo: 	    Orbiting Bytes
** @Descripción:    Maquetado de la pantalla de ganar
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/ganar.css" type="text/css">
    <title>GANASTE</title>
    <link rel="icon" href="../static/img/maraton.png" type="img/png">
    <link rel="stylesheet" href="../static/styles/ganar.css">
</head>
<body>
    <div id="fondoTitulo" class=""><h1 id="titulo">Maratón</h1></div>
    <section>
        <div id="Seccion1">
            <div id="ganaste"><h1>¡FELICIDADES GANASTE!</h1></div>
    
        <div id="idMedalla"> <img src="../static/img/medalla.png" alt="medalla" width="400"></div>
        <div id="jugador">Jugador 1</div>
        <script>
            let cookies = document.cookie;
            cookies = cookies.split('; ');
            let ganador = cookies[0].split('=')[1];
            let jugador = document.getElementById("jugador");
            jugador.innerHTML = 'Jugador '+ganador;
        </script>

        <div id="Seccion2">
            <div><h2>¡Demostraste muchos<br> conocimientos!</h2></div>
            <div id="cerebro"> <img src="../static/img/cerebro.png" alt="medalla" width="300px"></div>
            
        </div>
        <div><h2>¡Sigue aprendiendo!</h2></div>
        <div id="learn"> <img src="../static/img/learn.png" alt="learn" width="300px"></div><br>
        <br><div ><a id="Regresar" href="../index.html">Regresar a la página de inicio</a></div>

    </section>
</body>
</html>
