<!--
** @Archivo:        ganar.html
** @Equipo:     Orbiting Bytes
** @Descripción:    Maquetado de la pantalla de ganar
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/ganar.css" type="text/css">
    <title>You WON</title>
    <link rel="icon" href="../static/img/maraton.png" type="img/png">
    <link rel="stylesheet" href="../static/styles/ganar.css">
</head>
<body>
    <div class="sky">
        <div class="sun"></div>
        <div class="cloud cloud1"></div>
        <div class="cloud cloud2"></div>
        <div class="cloud cloud3"></div>
        <div class="particles"></div>
    </div>

    <div id="fondoTitulo" class=""><h1 id="titulo">Maratón Orbiting Bytes Game</h1></div>
    
  
    <div id="ganaste"><h1>CONGRATULATIONS YOU WON!</h1></div>
    

    <div id="jugador">Gamer</div>
    <script>
        let cookies = document.cookie;
        cookies = cookies.split('; ');
        let ganador = cookies[0].split('=')[1];
        let jugador = document.getElementById("jugador");
        jugador.innerHTML = 'Player '+ganador;
    </script>
    
    <div id="learn"><a class="styled-button" href="https://www.globe.gov/web/atmosphere">LEARN MORE!</a></div>
    <br><div id="regresar"  ><a class="styled-button" href="../index.html">Go Home</a></div>

</body>
</html>
