<!--
** @Archivo:        instrucciones.html
** @Equipo: 	    OrbitingBytes
** @Descripción:    Maquetado de las instrucciones
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/instrucciones.css" type="text/css">
    <title>Instrucciones</title>
    <link rel="icon" href="../static/img/maraton.png" type="img/png">
</head>
<body>
    <div id="fondoTitulo" class=""><h1 id="titulo">Maratón OrbitingBytes</h1></div>

 
    <div class="desplegable" id="empezar">
        <h1 id="instrucciones">Instrucciones</h1><br><br>
        <h2>To Start: </h2>
        <p>On the initial page named  "<a href="../index.html">Home</a>" press the play button, when you press this button, a pop-up screen will be displayed that will give you the option to choose the number of participants, the size of the board and the color of the players.</p>
    </div> 
    
    <div class="desplegable" id="juego">
        <h2>In the game:</h2><br><br>
        <h3>Initially</h3>
        <p>Each player must roll the dice, in order from the first player to the last player. To know which player you are, you can consult the card of the color you chose, in it you will be able to see your player number. If only one player is selected, the dice must still be rolled. The players' turn will be decided in descending order according to the player who has obtained the highest number on the dice.</p>
        <h3>In the game</h3>
        <p>
            <br>To start the game, the player whose turn it is will roll the dice; <br>The number you obtain will correspond to a protocol of the general atmospheric protocol.
            <br><br>If no one can answer the question correctly, ignorance will advance the number of km indicated in the question.<br><br>Once the question has been answered or not, it will be the next player's turn to roll the dice and answer the assigned question. <br>This same mechanism will be performed throughout the game until there is a winner, whether it is a player or ignorance.<br>
            <br>The player's turn to roll the dice can be found in the upper right corner.
            <br><br>The turn to answer the question is located in the upper left corner inside the question card container.
        </p>
        <h3>When does the game end?</h3>
        <p>The player who manages to reach the last square before everyone else or before ignorance will be the winner of the game.<br>If ignorance reaches the last square before all the players, the game ends and no player wins.</p>
        <br><div id="Regresar"><a href="../index.html">Return to home page</a></div>
    </div>
</body>
</html>