<!--
** @Archivo:        instrucciones.html
** @Equipo: 	    CoyoAtlón
** @Descripción:    Maquetado de las instrucciones
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/instrucciones.css" type="text/css">
    <title>Instrucciones</title>
    <link rel="icon" href="../statics/img/maraton.png" type="img/png">
</head>
<body>
    <div id="fondoTitulo" class=""><h1 id="titulo">Maratón</h1></div>

 
    <div class="desplegable" id="empezar">
        <h1 id="instrucciones">Instrucciones</h1><br><br>
        <h2>Para Empezar:</h2>
        <p>En la página inicial nombrada "<a href="../index.html">Inicio</a>" presiona el botón jugar, al presionar dicho botón, se mostrará una pantalla emergente que te dará la opción de elegir el número de participantes, el tamaño del tablero y el color de los jugadores. <br><br>Una vez que se hagan las elecciones correspondientes, para iniciar el juego, da click en el botón aceptar y en automático te dirigirá a la pantalla de juego.</p>
    </div> 
    
    <div class="desplegable" id="juego">
        <h2>En el juego</h2><br><br>
        <h3>Al inicio</h3>
        <p>Cada jugador deberá lanzar el dado, en orden del primer jugador al último. Para saber que jugador eres, puedes consultar la ficha del color que elegiste, en ella podrás ver tu número de jugador. Si únicamente se selecciona un jugador, igualmente se deberá lanzar el dado. <br><br> El turno de los jugadores se decidirá en orden descendente de acuerdo al jugador que haya obtenido el número mas alto en el dado.</p>
        <h3>En el juego</h3>
        <p>
            <br>Para iniciar el juego, el jugador que está en turno, tirará el dado; el número que obtenga corresponderá a una materia. <br><br> Se mostrará una tarjeta que contendrá una pregunta y 4 respuestas. <br><br> El usuario que esta en turno deberá contestar correctamente para poder avanzar el número de casillas que es equivalente a los kilometros que vale la pregunta. En caso de que sea errónea la respuesta, el jugador que tenga el turno siguiente debera de contestar, si vuelve a tener la respuesta incorrecta, el jugador siguiente deberá de contestarla, y así sucesivamente.
            <br><br>Si nadie logra contestar correctamente la pregunta, la ignorancia avanzará el número de km que indique la pregunta.<br><br>Una vez que se haya, o no, contestado la pregunta, será el turno del siguiente jugador de tirar el dado y contestar la pregunta asignada. <br>Este mismo mecanismo se realizará durante todo el juego hasta que haya un ganador, ya sea un jugador o la ignorancia.<br>
            <br>El turno del jugador para lanzar el dado lo pueden encontrar en la esquina superior derecha.<br><br>El turno para contestar la pregunta se encuentra en la esquina superior izquierda dentro del contenedor de la tarjeta con la pregunta.
        </p>
        <h3>¿Cuándo termina el juego?</h3>
        <p>El jugador que logre llegar a la última casilla antes que todos los demás o antes que la ignorancia, será el ganador del juego.<br>Si la ignorancia llega a la última casilla antes que todos los jugadores, el juego termina y ningún jugador gana.</p>
        <br><div id="Regresar"><a href="../index.html">Regresar a la página de inicio</a></div>
    </div>
</body>
</html>