<!--
** @Archivo:        perder.html
** @Equipo:     Orbiting Bytes
** @Descripción:    Maquetado de la pantalla de ganar
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perdiste</title>
    <link rel="icon" href="../static/img/maraton.png" type="img/png">
    <link rel="stylesheet" href="../static/styles/perder.css">
</head>
<body>
    <div class="sky"></div> <!-- Cielo -->
    <div class="sun"></div> <!-- Sol -->
    <div class="cloud cloud1"></div> <!-- Nube 1 -->
    <div class="cloud cloud2"></div> <!-- Nube 2 -->
    <div class="cloud cloud3"></div> <!-- Nube 3 -->
    <div class="particles"></div> <!-- Partículas en el aire -->

    <div class="particles"></div> <!-- Partículas en el aire -->
   
    <div id="fondoTitulo" class="">

        <h1 id="titulo">Maratón Orbiting Bytes Games</h1>
    </div>
    <div id="lose">
        <h1 id="over">GAME OVER</h1>
    </div>
    <div id="importance">
        <p class="text">Not knowing about the GLOBE protocols related to the atmosphere can lead to a range of disadvantages, from a lack of environmental awareness to missed opportunities for community engagement and effective policy advocacy. By understanding these protocols, individuals and communities can better contribute to scientific research, environmental protection, and sustainability efforts. We invite you to learn about these protocols.</p>
    </div>

    <div id="learn">
        <a class ="styled-button" href="https://www.globe.gov/web/atmosphere">LEARN!!!</a>
    </div>

    <br>
    <div id="regresar"  >
        <a class ="styled-button" href="../index.html">Go Home</a>
    </div>
   

</body>
</html>