/*
** @Archivo:        instrucciones.css
** @Equipo: 	    CoyoAtlón
** @Descripción:    Diseño del html llamado "instrucciones.html"
*/
/*====================Colores===============*/
:root{
    --pink: #FFBEFF;
    --green: #70F15B; 
    --blue: #48C8FF;
    --orange: #FFBC3A;
    --fondo: #FEFFD9;
}
/*=========================General==============*/
@font-face {
    font-family: anymice;
    src: url("../fonts/any.ttf");
}
body{
    background-color: var(--fondo);
    color: #444343;
    width: 100%;
    height: 100%;
    font-family: anymice;
    font-size: 20px;
}

h3{
    display: inline;
    background-color: var(--blue);
    
}
h2{
    display: inline;

    background-color: var(--green);
}
p{
    text-align: justify;
}
/*=================================id==========================*/
#instrucciones{
    display: inline;
    background-color: var(--orange);
}
#empezar{
    margin-top: 6%;
    left: 7%;
    width: 85%;
    position: relative;
    text-align: center;
    margin-bottom: 0%;
}
#juego{
    left: 7%;
    width: 85%;
    position: relative;
    text-align: center;
}
#fondoTitulo{
    position: absolute;
    background-color: var(--pink);
    width: 100%;
    height: 60px;
    top: 0%;
    left: 0;
    text-align: center;
}
#titulo{
    position: absolute;
    top: 7%;
    font-size: 50px;
    margin: 0px;
    text-align: center;
    left: 44%;
}
